footer {
    background-color: #000000 !important;
    padding: 10px 0px 0px 0px !important;
}

.footer-right > img, .footer-right > p {
    position: relative;
}

.footer-right > p {
    margin-bottom: 0px !important;
}

.footer-right {
    margin-right: 16px !important;
}

.footer-left {
    left: 8px !important;
}

.text-align-right {
    text-align: right !important;
}